$default-font: "Raleway Regular", sans-serif;
$default-bold-font: "Raleway Bold", sans-serif;
$secondary-font: "Roboto Regular", sans-serif;
$secondary-bold-font: "Roboto Bold", sans-serif;
$accent: #F88500;
$text: #333333;
$color-gray: #6F7A8B;
$color-light-gray: #828FA0;
$color-white: #fff;